.taskColumn{
    border-radius: 25px;
    border: 2px solid #73AD21;
    color:gray;
}
.columnTitle{
    margin: auto;
}
.titleWrapper{
    display: flex;
}
.columnList{
    margin-left: 10%;
    margin-right: 10%;
}