.calendarCell{
    transition: all .2s ease-in-out;
}

 .calendarCell:hover{
    transform: scale(1.1);
}
.dayLink{
    text-decoration: none;
    color:black;
}
.dayLink:hover{
    text-decoration: none;
    color:black;
}